<f:layout name="Default" />

<f:section name="content">

	<div class="container container-small">

		<div class="text-center">
			<f:image src="EXT:jira_service_desk/Resources/Public/Icons/extension.svg" alt="" />
		</div>

		<h1 class="text-center">Jira Service Desk</h1>

		<hr>

		<div class="callout callout-danger">
			<div class="media">
				<div class="media-left">
					<span class="fa-stack fa-lg callout-icon"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-info fa-stack-1x"></i></span>
				</div>
				<div class="media-body">
					<div class="callout-body"><f:format.raw><f:translate key="message.no_access" extensionName="jira_service_desk" /></f:format.raw></div>
				</div>
			</div>
		</div>

	</div>

</f:section>
