<f:layout name="Default" />

<f:section name="content">

	<div class="container container-small">

		<div class="text-center">
			<f:image src="EXT:jira_service_desk/Resources/Public/Icons/extension.svg" alt="" />
		</div>

		<h1 class="text-center">Jira Service Desk Help</h1>

		<p class="text-center">
			<a href="#Reporting-Tool">Reporting Tool</a>
			|
			<a href="#Request-Form">Request Form</a>
			|
			<a href="#Servicedesk-Toolbar">Servicedesk Toolbar</a>
			|
			<a href="#Request-Tool">Request Tool</a>
			|
			<a href="#Comment-Form">Comment Form</a>
		</p>

		<hr>

		<h2 id="Reporting-Tool">Reporting Tool</h2>

		<div class="row">
			<div class="col-xs-7">
				<p>The reporting tool is used to create feature requests, error reports and much more. The possibilities depend on your service contract.</p>
				<p>You can use the input search box to search for a topic or category in keywords. If you have a larger number of topics, you can limit the selection here.</p>
				<p>If the desired category is not included, you can use the selection options under the input search field. Here you can browse through the categories to search for the desired topic.</p>
			</div>
			<div class="col-xs-5">
				<f:image src="EXT:jira_service_desk/Resources/Public/Images/Reporting-Tool.png" alt="" class="img-thumbnail" />
			</div>
		</div>

		<hr>

		<h2 id="Request-Form">Request Form</h2>

		<div class="row">
			<div class="col-xs-5">
				<f:image src="EXT:jira_service_desk/Resources/Public/Images/Request-Form.png" alt="" class="img-thumbnail" />
			</div>
			<div class="col-xs-7">
				<p>If you have made your selection using the reporting tool, you can open the corresponding form by clicking on the request type.</p>
				<p>The display of the corresponding fields of the request form depends very much on the request type. Usually there are some mandatory fields like "Summary" or others. Mandatory fields are marked with a "*".</p>
				<p>Fill out the request form and send it by clicking on "Send". Your service desk will immediately receive an e-mail with your inquiry. At the same time you will receive a confirmation e-mail.</p>
			</div>
		</div>

		<hr>

		<h2 id="Servicedesk-Toolbar">Servicedesk Toolbar</h2>

		<div class="row">
			<div class="col-xs-7">
				<p>The Servicedesk Toolbar gives you a quick overview of your inquiries. You can jump directly to the enquiry form, to the overview of your enquiries or to this help.</p>
				<p>In the lower area of the toolbar you will be informed about the number of your inquiries.</p>
			</div>
			<div class="col-xs-5">
				<f:image src="EXT:jira_service_desk/Resources/Public/Images/Servicedesk-Toolbar.png" alt="" class="img-thumbnail" />
			</div>
		</div>

		<hr>

		<h2 id="Request-Tool">Request Tool</h2>

		<div class="row">
			<div class="col-xs-5">
				<f:image src="EXT:jira_service_desk/Resources/Public/Images/Request-Tool.png" alt="" class="img-thumbnail" />
			</div>
			<div class="col-xs-7">
				<p>With the help of the request tool you get a detailed overview of your requests. You will receive information about so-called ticket numbers, the status of your enquiry and much more.</p>
			</div>
		</div>

		<hr>

		<h2 id="Comment-Form">Comment Form</h2>

		<div class="row">
			<div class="col-xs-7">
				<p>By clicking on a title of a request you open a detailed view of your request. This will give you an overview of the status of your request and any comments from your service desk staff or from you.</p>
				<p>In addition, you have the possibility to leave a comment to an inquiry and thus deposit further information to the Servicedesk employees. The corresponding Servicedesk employee will be informed directly by e-mail.</p>
			</div>
			<div class="col-xs-5">
				<f:image src="EXT:jira_service_desk/Resources/Public/Images/Comment-Form.png" alt="" class="img-thumbnail" />
			</div>
		</div>

	</div>

</f:section>
