<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">
	<f:if condition="{hasAccess}">
		<f:then>
			<div class="widget-chart">
				<canvas></canvas>
			</div>
		</f:then>
		<f:else>
			<p><f:format.raw><f:translate key="message.noAccess" extensionName="jira_service_desk" /></f:format.raw></p>
		</f:else>
	</f:if>
</f:section>
<f:section name="footer">
	<f:if condition="{hasAccess}">
		<f:render partial="Widget/Button" arguments="{button: button}"/>
	</f:if>
</f:section>
</html>
