<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<span class="toolbar-item-icon" title="{f:translate(key: 'toolbaritem', extensionName: 'jira_service_desk')}">
	<core:icon identifier="apps-toolbar-menu-service-desk" alternativeMarkupIdentifier="inline"/>
</span>
<span class="toolbar-item-title">{f:translate(key: 'toolbaritem', extensionName: 'jira_service_desk')}</span>
<span class="toolbar-item-badge badge badge-info jira-service-desk-counter"></span>
</html>
